a {
    color: #FF7129;
    text-decoration: none;
}

a::after {
    color: #FF7129;
}

.about {
    margin-left: 15%;
}

.about-title {
    position: relative;
    font-size: 6rem;
    left: 35%;
    top: 15%;
    padding-top: 15%;
}

.about-title-first {
    color: #FF7129;
}

.about-title-second {
    color: #2F2F2B;
}

.about-job {
    position: relative;
    left: 35%;
    margin-top: 0%;
    padding-top: 0%;
    color: #FF7129;
}

.logos {
    position: relative;
    margin-left: 60%;
    margin-top: -2%;
}

.linkedin, .github {
    width: 50px;
}

.description {
    font-size: large;
    color: #74746f;
    margin-left: 35%;
    margin-top: 2%;
}