.skills {
    padding-top: 15%;
    padding-bottom: 15%;
}

#skills {
    margin-left: 2%;
}

li>img {
    width: 50px;
    padding-left: 5px;  
    padding-right: 5px;
    filter: grayscale(1);
}

li>img:hover {
    filter: grayscale(0);
}

.strenghts, .spoken-languages, .languages {
    font-size: larger;
}